.comp-root {
    display: flex;
    flex-direction: column;
    align-items: center;

    .list-mode-and-add-btn {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }

    .list-calendar-container {
        margin-bottom: 10px;
    }

    .tasks-container {
        width: 100%;

        .task {
            padding: 10px;
            background-color: rgb(240, 240, 240);
            display: flex;
            align-items: center;

            &:not(:first-child) {
                margin-top: 10px;
            }

            &:hover {
                background-color: var(--primary-color);
                color: white;
            }

            .task-data {
                flex-grow: 1;
            }

            .btns-container {
                flex-shrink: 0;

                button {
                    margin-left: 5px;
                }
            }
        }
    }
}

.change-task-dialog::ng-deep .p-dialog-content {
    overflow: visible;

    textarea {
        resize: none;
        width: 500px;
    }
}