<div class="comp-root">
    <div class="list-mode-and-add-btn">
        <p-selectButton [options]="listModeVariants" [(ngModel)]="listMode" (onChange)="getTasksByListMode()">
        </p-selectButton>
        <button pButton label="Добавить новую заметку" icon="pi pi-plus" (click)="addNewTask()"></button>
        <button pButton label="Выход" icon="pi pi-sign-out" (click)="logout()"></button>
    </div>

    <div class="list-calendar-container" *ngIf="listMode === 'byDate'">
        <span>Запланировано на: </span>
        <p-calendar [(ngModel)]="selectedDate" [monthNavigator]="true" [yearNavigator]="true"
            yearRange="{{yearNow - 5}}:{{yearNow + 5}}" dateFormat="dd.mm.yy" [firstDayOfWeek]="1"
            [selectOtherMonths]="true" (onSelect)="getTasksByListMode()" [readonlyInput]="true">
        </p-calendar>
    </div>

    <div class="tasks-container">
        <div *ngFor="let task of tasks" class="task">
            <div class="task-data">
                <span>{{task.text}}</span>
                <span *ngIf="task.date"> (Запланировано на {{task.date}})</span>
            </div>
            <div class="btns-container">
                <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-warning"
                    (click)="selectTaskForChanges(task)"
                    [style.visibility]="task.date < dateNowStr ? 'hidden' : ''"></button>
                <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger"
                    (click)="deleteTask(task.id)"></button>
            </div>
        </div>
    </div>
    <h3 *ngIf="!tasks.length">Список заметок пуст</h3>
</div>

<p-dialog header="Изменение заметки" [(visible)]="selectedTask" *ngIf="selectedTask" class="change-task-dialog"
    [modal]="true">
    <label>
        <div>Текст</div>
        <textarea pInputTextarea [(ngModel)]="selectedTask.text" rows="5"></textarea>
    </label>

    <label>
        <div>Дата</div>
        <p-calendar [ngModel]="selectedTask.dateObj" [monthNavigator]="true" [yearNavigator]="true"
            (ngModelChange)="selectedTask.date = dateToIsoStr($event)" class="list-calendar" dateFormat="dd.mm.yy"
            [firstDayOfWeek]="1" [selectOtherMonths]="true" [readonlyInput]="true"
            yearRange="{{yearNow - 5}}:{{yearNow + 5}}" [minDate]="dateNow">
        </p-calendar>
    </label>

    <p-footer>
        <button pButton label="Сохранить" icon="pi pi-save" (click)="changeTask()"></button>
        <button pButton label="Отмена" icon="pi pi-times" (click)="selectedTask = null"></button>
    </p-footer>
</p-dialog>