p-confirmdialog .p-confirm-dialog {
    .p-dialog-header {
        justify-content: flex-end;

        .p-dialog-title {
            flex-grow: 1;
        }

        .p-dialog-header-icons {
            flex-shrink: 0;
        }
    }

    .p-dialog-footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .p-confirm-dialog-reject {
            order: 1
        }
    }
}