<div class="comp-root">
    <label>
        <div>Логин</div>
        <input pInputText [(ngModel)]="login">
    </label>
    <label>
        <div>Пароль</div>
        <input pInputText [(ngModel)]="password" type="password">
    </label>
    <button pButton label="Вход" (click)="getToken()"></button>
</div>